/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/

@use "sass:color";

// Colors
$red-color: #ff3636 !default;
$red-color-dark: #b71c1c !default;
$orange-color: #f29105 !default;
$blue-color: #0076df !default;
$blue-color-dark: #00369f !default;
$cyan-color: #2698ba !default;
$light-cyan-color: color.adjust($cyan-color, $lightness: 25%);
$green-color: #00ab37 !default;
$green-color-lime: #b7d12a !default;
$green-color-dark: #009f06 !default;
$green-color-light: #ddffdd !default;
$green-color-bright: #11d68b !default;
$purple-color: #b509ac !default;
$light-purple-color: color.adjust($purple-color, $lightness: 25%);
$pink-color: #f92080 !default;
$pink-color-light: #ffdddd !default;
$yellow-color: #efcc00 !default;

$grey-color: #828282 !default;
$grey-color-light: color.adjust($grey-color, $lightness: 40%);
$grey-color-dark: #1c1c1d;
$grey-900: #212529;

$white-color: #ffffff !default;
$black-color: #000000 !default;

// Theme colors

$code-bg-color-light: rgba($purple-color, 0.05);
$code-bg-color-dark: #2c3237 !default;

// Font awesome location
$fa-font-path: "../webfonts";

// Back To Top button config
$back-to-top-z-index: 10;
$back-to-top-bottom: 30px;
$back-to-top-right: 30px;
$back-to-top-diameter: 40px;
$back-to-top-height: $back-to-top-diameter;
$back-to-top-width: $back-to-top-diameter;

// Max width default
$max-content-width: 930px !default;

// Catppuccin Frappé
$frappe-base: #303446;
$frappe-mantle: #292c3c;
$frappe-crust: #232634;
$frappe-text: #c6d0f5;
$frappe-subtext1: #b5bfe2;
$frappe-subtext0: #a5adce;
$frappe-surface2: #626880;
$frappe-surface1: #51576d;
$frappe-surface0: #414559;
$frappe-mauve: #ca9ee6;
$frappe-blue: #8caaee;
$frappe-green: #a6d189;
$frappe-yellow: #e5c890;
$frappe-peach: #ef9f76;
$frappe-red: #e78284;
$frappe-teal: #81c8be;

// Catppuccin Mocha
$mocha-base: #1e1e2e;
$mocha-mantle: #181825;
$mocha-crust: #11111b;
$mocha-text: #cdd6f4;
$mocha-subtext1: #bac2de;
$mocha-subtext0: #a6adc8;
$mocha-surface2: #585b70;
$mocha-surface1: #45475a;
$mocha-surface0: #313244;
$mocha-mauve: #cba6f7;
$mocha-blue: #89b4fa;
$mocha-green: #a6e3a1;
$mocha-yellow: #f9e2af;
$mocha-peach: #fab387;
$mocha-red: #f38ba8;
$mocha-teal: #94e2d5;
